/*尾页*/
hr{
	margin-top: 200px;
	clear: both;
}
a{
	text-decoration: none;
	color:#838383;
}
a:visited{
	text-decoration: none;
	color:#838383;
}
#footer{
	width:65%;
	min-width:750px;
	margin:5% 0 0 19%;
	clear: both;
}
#footer .footer-box{
	width:100%;
	height:;
	margin:auto;
}
#footer .footer-left{
	width:30%;
	height:auto;
	float:left;
	padding:10px;
}
#footer .footer-center{
    width:30%;
	height:auto;
	float:left;
	padding:10px;
	border-left:1px solid #838383;
	border-right:1px solid #838383;
}
#footer .footer-right{
    width:30%;
	height:auto;
	float:left;
	padding:10px;
}
#footer .footer-left .h{
	width:100%;
	height:;
	font-size:22px;
	font-weight:bold;
	color:#505050;
}
#footer .footer-left .contact{
	font-size:25px;
}
#footer .footer-left .icon-box{
	width:10%;
	margin-left:10px;
}
#footer .footer-left .icon{
	display:flex;
}
#footer .submit .text{
	display:inline-block;
    width:50%;
    font-size:20px;
    margin:10px;
    border-radius:5px;
}
#footer .submit .btn{
	display:inline-block;
    width:25%;
    font-size:18px;
    color:white;
    background-color:#0d746d; 
    border-radius:5px;
}
#footer .footer-left .tie{
	color:#838383;
	font-size:15px;
}
#footer .footer-load .store{
	display:inline-block;
	width:35%;
	margin:10px 10px 0px  0px;
}
#footer .footer-load .store img{
	width:100%;
	height:100%;
}
#footer .footer-center .b{
   width:90%;
}
#footer .footer-center .join{
    font-size:25px;
    font-weight:bold;
}
#footer .footer-center .invite{
	font-size:22px;
	font-weight:bold;
	color:#838383;
}
#footer .footer-center .about{
	width:90%;
	color:#838383;
	font-size:20px;
	margin-top:80px;
}
.about ul{
	list-style:none;
	color:#838383;
	font-size:22px;
	margin-top:30px;
	padding:0;
}
#footer .footer-right .law{
	margin-top:10%;
}
#footer .footer-right .search-box{
	font-size:25px;
    font-weight:bold;
    width:90%;
}
#footer .footer-right .search{
    width:90%;
}
#footer .footer-right .search input{
	border:none;
	border-bottom:1px solid black;
	font-size:20px;
	background-image:url(../images/icon_quick_action_search.svg);
	background-repeat: no-repeat;
	background-size:30px 30px;
	padding:2px 20px 2px 30px;
	background-size:
	
}
#footer .footer-right .flag-box{
	width:90%;
    margin-top:10%;
}
#footer .footer-right .flag-box .change{
	width:100%;
    font-size:22px;
    font-weight: bold;
}
#footer .footer-right .flag-box .flag-one{
	display:inline-block;
	width:13%;
	background-image:url(../images/icon_en.svg);
	background-repeat:no-repeat;
	background-size:45px 25px;
}
#footer .footer-right .flag-box .flag-two{
	display:inline-block;
	width:13%;
	height:25px;
	background-image:url(../images/icon_de.svg);
	background-repeat:no-repeat;
	background-size:45px 25px;
}
#footer .footer-right .flag-box .flag-one span{
	display:inline-block;
	width:100%;
	height:25px;
	background:white;
    opacity:0.5;
}
#footer .footer-right .flag-box .flag-two span{
    display:inline-block;
	width:100%;
	height:25px;
	background:white;
    opacity:0.5;
}
#footer .footer-right .flag-box .flag-china{
	display:inline-block;
	width:15%;
	height:25px;
	background-image:url(../images/icon_zh.svg);
	background-repeat: no-repeat;
	background-size:45px 25px;
}
#footer .adv{
	width:100%;
	margin-top:8%;
}
#footer .adv div{
	width:90%;
	margin:3px auto;
	text-align: center;
	color:#838383;
}
#footer .adv .adv-title{
	font-weight: bold;
	color:black;
	font-size:22px;
	clear: both;
}
@media screen and (min-width: 750px){
	.btn{
		margin: 0px;
		display: inline-block;
	}
}
@media screen and (max-width: 750px){
	 /*尾页*/
   #footer{
	width:65%;
	margin:0 0;
    }
   #footer .footer-box{
	width:100%;
	}
   #footer .footer-left{
	width:100%;
	border-bottom:1px solid black;
	}
   #footer .footer-center{
	width:100%;
	border:none;
	margin:0;
	border-bottom:1px solid black;
	}
   #footer .footer-right{
	width:100%;
	border-bottom:1px solid black;
	}
   #footer .footer-load .store{
	width:15%;
	margin:10px 10px 0px  0px;
	}
   #footer .footer-load .store img{
	width:100%;
	height:100%;
	}
   #footer .footer-left .icon-box{
	width:5%;
	}
   #footer .submit .text{
	display:inline-block;
    width:20%;
    font-size:20px;
    margin:10px;
    border-radius:5px;
	}
   #footer .submit .btn{
	display:inline-block;
    width:10%;
    font-size:18px;
    color:white;
    background-color:#0d746d; 
    border-radius:5px;
	}
   #footer .footer-left .tie{
	color:#838383;
	width:50%;
	font-size:12px;
	} 
  .about ul{
	list-style:none;
	color:#838383;
	font-size:1.2rem;
	margin:0;
	padding:0;
	} 
  #footer .footer-center .join{
    font-size:1.3rem;
    font-weight:bold;
    }
   #footer .adv{
	width:60%;
	margin-top:8%;
	}
  #footer .adv div{
	width:90%;
	margin:0;
	text-align: center;
	color:#838383;
	}
  #footer .adv .adv-title{
	font-weight: bold;
	font-size:1.2rem;
	}

}