*{
	padding: 0;
	margin:0;
	-webkit-tap-highlight-color:transparent;
	outline: none;
}
a{
	text-decoration:none;
	color: #464646;
}
button{
	border:none;
	background-color: transparent;
}
body{
	font-family: Brandon,Helvetica,sans-serif,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	color: #464646;
}
html{
	box-sizing: border-box;
	font-size: 110%;
}
h2 {
    font-size: 1.25rem;
    margin-bottom: .85227rem;
}
h1, h2, h3, h4, h5 {
    font-weight: 600;
    line-height: 1.133;
}
h1{
	font-size: 1.5rem;
}
body{
    position: relative;
}
a{
	text-decoration: none;
	color: #333;
}
.modal-mask {
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 1rem;
}
.modal-container {
    position: relative;
    text-align: center;
    max-width: 524px;
    margin: 0 auto;
    padding: 1rem 0 1.7rem;
    background-color: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.13);
    box-shadow: 0 0 16px rgba(0,0,0,0.13);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.modal-header {
    padding: 0 1rem;
    width: 100%;
    position: absolute;
}
[data-whatinput='mouse'] button{
    outline: 0;
}
.cookbook-save-recipe-modal__recipe-title{
	margin-top: 20px;
}
.modal-close-button{
	cursor: pointer;
    float: right;
    width: 18px;
    height: 18px;
    margin-right: 40px;
    background-image: url(../images/icon_close.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.loading-button--bg-green {
    background-color: #0a7f78;
    color: #fff;
}
.loading-button{
    border-radius: 4px;
    height: 35px;
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
    transition: opacity 0.25s ease-out;
    padding: 0 1rem 2px;
    min-width: 100px;
    float: right;
    margin-right: 10%;
    outline: none;
}
.cookbook-save-recipe-modal__buttons{
	font-weight: 600;
    margin-left: 10%;
}
.cookbook-save-recipe-modal__headline {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
.cookbook-save-recipe-modal__image {
    border-radius: 12px;
    max-width: 150px;
}
.default-button--blank-green, .loading-button--blank-green {
    background-color: rgba(0,0,0,0);
    color: #0a7f78;
}
.default-button {
    height: 35px;
    font-weight: 600;
    margin: 0;
    font-size:1rem;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    padding: 0 1rem 2px;
    min-width: 100px;
    cursor: pointer;
}
.default-button:hover{
	color: #0da299;
}
.cookbook-save-recipe-modal__select {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    width: 80%;
	margin-top: 15px;
}
select{
	height: 2.21591rem;
    padding: .45455rem;
    border: none;
    margin: 0 0 .90909rem;
    font-size: .90909rem;
    font-family: inherit;
    line-height: normal;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 1.36364rem;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.cookbook-save-recipe-modal__move {
    text-align: left;
    font-weight: 600;
    margin-left: 10%;
}
.cookbook-save-recipe-modal__error {
    height: 2rem;
    text-align: left;
}
.cookbook-save-recipe-modal__buttons {
    overflow: hidden;
}
.cookbook-save-recipe-modal__buttons__create {
    float: left;
    min-width: auto;
    padding: 0;
}
.modal-masks {
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
.loading-buttons{
    border-radius: 4px;
    height: 35px;
    font-weight: 200;
    font-size: 1rem;
    margin: 10px auto;
    margin-left: -10%;
    transition: opacity 0.25s ease-out;
    padding: 0 1rem 2px;
    min-width: 100px;
    text-align: center;
    outline: none;
    cursor: pointer;
}
.loading-buttons:hover{
    background-color: #0da299;
}
.modal-wrappers {
    display: table-cell;
    vertical-align: middle;
    padding: 1rem;
}
.modal-containers {
    position: relative;
    text-align: center;
    max-width: 524px;
    margin: 0 auto;
    padding: 2rem 0 4rem;
    background-color: #fff;
    border-radius: 12px;
    -webkit-box-shadow: 0 0 16px rgba(0,0,0,0.13);
    box-shadow: 0 0 16px rgba(0,0,0,0.13);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.modal-headers {
    padding: 0 1rem;
    width: 100%;
    position: absolute;
}
.modal-report-component-mains {
    text-align: left;
    margin-left: 10%;
}
input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type='checkbox']+label[for], [type='radio']+label[for] {
    cursor: pointer;
}
[type='checkbox']+label, [type='radio']+label {
    display: inline-block;
    margin-left: .45455rem;
    margin-right: .90909rem;
    margin-bottom: 0;
    vertical-align: baseline;
}
label {
    display: block;
    margin: 10px;
    font-size: .79545rem;
    font-weight: normal;
    line-height: 1.8;
    color: #000;
}
.modal-close-buttons{
	cursor: pointer;
    float: right;
    width: 18px;
    height: 18px;
    margin-right: 40px;
    background-image: url(../images/icon_close.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.modal-report-component-main__submit {
    text-align: center;
}
.modal-report-component-main .loading-button {
    text-align: center;
}
.box{
	max-width: 860px;
	width: 95%;
	margin:30px auto;
}
.box .box-header{
	width: 100%;	
}
.box .box-header img{
	max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
	border-radius: 10px;
}
.box .nav-header{
	width: 100%;
	margin:0 auto;
	border-bottom: 1px solid #CDCDCD;
	position: relative;
	z-index: 99;
	height: 50px;
	background-color: white;
	padding-top: 20px;
}
.box .box-nav ul{
	list-style: none;	
}
.box .box-nav .f_left{
	float: left;
}
.box .box-nav .f_left .active a{
	color: black;
	padding:28px 0;
	border-bottom: 2px solid #0a7f78;
}
.box .box-nav ul li{
	float: left;
}
.box .box-nav .f_left li a{
	color: #0a7f78;
    font-weight: 600;
    padding: 1rem 0;
    margin-right: 2rem;
}
.box .box-nav .f_right{
	float: right;
}
.box .box-nav .fr_share{
	display: none;
	float: right;
    cursor: pointer;
}
.box .box-nav .fr_share img{
	height: 20px;
}
.box .box-nav .f_right img{
	height: 20px;
}
.box .box-nav .f_right li{
	padding: 0 .45455rem;
}
.box .box-sec{
	clear: both;
	padding-top: 20px;
}
.box .section{
	width: 65%;
	float: left;
}
.box .section .dot{
	clear: both;
	width: 100%;
	background-image: url(../images/dot.png);
	background-size: 6.5px 3px;
	height: 3px;
	margin-top: 55px;
}
.box .box-sec .stars img{
	width: 19px;
	height: 19px;
	margin-right: 10px;
}
.box .box-sec .stars{
	color: #464646;
	font-size: 80%;
	margin-top: 20px;
}
.box .box-sec .stars .like{
	margin-top: 15px;
	cursor: pointer;
}
.box .box-sec .stars .like .heart{
	background-image: url(../images/icon_heart.svg);
    width: 21px;
    height: 21px;
    line-height: 21px;
    background-repeat: no-repeat; 
    background-position: 5px;
	float:left;
	padding-left: 28px;
	margin-right: 5px;
}
.box .box-sec .stars .like .save{
	background-image: url(../images/save.svg);
    width: 40px;
    height: 21px;
    line-height: 21px;
    background-repeat: no-repeat; 
    background-size: contain;
	float:left;
	padding-left: 22px;
	margin-right: 5px;
}
.box .box-sec .stars .like a{
	color: #8e8e8e;
    font-size: 80%;
}
.box .section .easy{
	margin-top: 20px;
	padding-bottom: 20px;
	background-image: url(../images/dot.png);
	background-size: 6.5px 3px;
	background-repeat: repeat-x;
	background-position: bottom;
}
.box .section .easy h2{
	margin: 0 2rem 0 0;
	float: left;
}    
.box .section .time{
	min-width: 360px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 130px;
	margin: 0 auto;
	background-image: url(../images/dot.png);
	background-size: 6.5px 3px;
	background-repeat: repeat-x;
	background-position: bottom;
}
.box .section .time .clock-items{
	float: left;
	margin-left: 2rem;
}
.box .section .time .clock{
	width: 80px;
	height: 80px;
	border:1px solid #CDCDCD;
	border-radius: 40px;
	color: #464646;
	text-align: center;
	font-weight: lighter;
}
.nav-header .dropdown {
    position: absolute;
    z-index: 998;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.33);
    border-radius: 6px;
    right: 2px;
    top: 42px;
    width: 230px;
    display: none;
}
.nav-header .dropdown__btn {
    padding: 1rem 1rem 1rem 3rem;
    width: 230px;
    text-align: left;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
}
#button-facebook {
    background: url(../images/icon_facebook.svg);
    background-repeat: no-repeat;
    background-position-x: 1rem;
    background-position-y: 15px;
}
#button-pinterest {
    background: url(../images/icon_pinterest.svg);
    background-repeat: no-repeat;
    background-position-x: 1rem;
    background-position-y: 15px;
}
#button-twitter {
    background: url(../images/icon_twitter.svg);
    background-repeat: no-repeat;
    background-position-x: 1rem;
    background-position-y: 15px;
}
#button-email {
    background: url(../images/icon_mail.svg);
    background-repeat: no-repeat;
    background-position-x: 1rem;
    background-position-y: 15px;
}
#button-print {
    background: url(../images/icon_print.svg);
    background-repeat: no-repeat;
    background-position-x: 1rem;
    background-position-y: 15px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.aside_box{
    width: 34%;
    float: right;
}
.box .aside{
    width: 100%;
    float: right;
    background-color: #fff;
}
.box .aside_box .tigs{
	padding-top: 20px;
}
.box .aside_box .tigs .tig-img{
    width: 45%;
    float: left;
    margin-bottom: 15px;
}
.box .aside_box img{
	width:100%;
	border-radius: 15px;
}
.box .aside_box .tigs .tig-tit{
	height: 122px;
	vertical-align: top;
	font-size: 80%;
    width: 50%;
    font-weight: 200;
    overflow: hidden;
    float: right;
}
.box .section .material{
	margin-top: 30px;
}
.box .section .material span{
	font-size: 80%;
	font-weight: 600;
}
.box .section .material .num{
	padding: 0 5px;
}
.box .section .material input{
	vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #0a7f78;
    color: #fff;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0 0 2px;
    cursor: pointer;
}
.box .section .material .ma_num{
	width: 100%;
	margin-top: 20px;
	padding-bottom: 30px;
	font-weight: 200;
	background-image: url(../images/dot.png);
	background-size: 6.5px 3px;
	background-repeat: repeat-x;
	background-position: bottom;
} 
.box .section .material .ma_num .col_num{
	width: 30%;
	text-align: left;
}
.box .section .material .ma_num .col_name{
	width: 70%;
}
.box .section .nife{
	padding: 30px 0;
	background-image: url(../images/dot.png);
	background-size: 6.5px 3px;
	background-repeat: repeat-x;
	background-position: bottom;
}
.box .section .nife p{
	font-weight: 200;
}
.box .section .nutrition{
	padding: 30px 0;
	background-image: url(../images/dot.png);
	background-size: 6.5px 3px;
	background-repeat: repeat-x;
	background-position: bottom;
}
.box .section .nutrition .nutri{
	display: flex;
}
.box .section .nutrition .nutri_item{
	width: 10%;
	padding-left: 5%;
	padding-right: 10%;
	font-weight: 200;
	border-left: 1px solid #CDCDCD;
}
.box .section .nutrition .nutri_item:nth-child(1){
	padding-left: 0%;
	border-left: 1px solid transparent;
}
.box .steps{
	padding-top: 20px;
	font-weight: 200;
}
.box .steps img{
	width:100%;
	border-radius: 15px;
}
.box .steps ul{
	clear: both;
	height: 18px;
	list-style: none;
	background-image: url(../images/icon_ingredients.svg);
	background-repeat: no-repeat;
	background-size: 25px 18px;
	padding:0 0 15px 30px;
	margin:10px 0;
}
.box .steps ul li{
	float: left;
	padding: 0 5px;
}
.box .steps p{
	clear: both;
	background-image: url(../images/icon_utensils.svg);
	background-repeat: no-repeat;
	background-size: 25px 18px;
	background-position:0px;
	padding:10px 0 10px 30px;
}
.box .steps .food_des{
	padding: 18px 0 30px 0;
	border-top: 1px solid #CDCDCD;
}
.box .section .comm{
	background-image: url(../images/dot.png);
	background-size: 6.5px 3px;
	background-repeat: repeat-x;
	background-position: top;
	font-size: 1rem;
    font-weight: 600;
}
.box .section .comm p{
	padding: 20px 0 20px;
}
.box .section .comm .comment-input{
	width: 100%;
    clear: both;
}
.box .section .comment-input .img_left{
	width:62px;
	float: left;
}
.box .section .comment-input .img_left img{
	width: 45px;
	height: 45px;
	overflow: hidden;
    position: relative;
    border-radius: 3px;
    background-color: #f2f2f2;
    text-align: center;
}
.box .section .comment-input .input_rig{
	margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid #d8d8d8;
    padding: 0.5rem 1rem 0;
}
.box .section .comment-input .input_rig textarea{
	width: 100%;
	resize: none;
	border:none;
	font-size: 1rem;
	min-height: 50px;
	word-wrap: break-word;
	margin-bottom:30px; 
	outline: none;
}   
.box .section .comment-input .choose_img{
	float: left;
	color: #222;
	font-size: .79545rem;
    background-color: #f2f2f2;
    display: inline-block;
    border-radius: 4px;
    padding:6px 10px;
    cursor: pointer;
    font-weight: 400;
    vertical-align: middle;
    margin-bottom: 18px;
}
.box .section .comment-input input{
	display: none;
}
.box .section .comment-input .choose_img img{
	width: 20px;
	display:block;
	float: left;
	vertical-align: middle;
}
.box .section .comment-input .send{
    background-color: #0da299;
    color: #fff;
    float: right;
    font-size: 1rem;
    display: block;
    border-radius: 4px;
    padding:0.3rem 1.5rem;
    cursor: pointer;
    font-weight: 400;
    vertical-align: middle;
    position:relative;
    bottom: -10px; 
}
.box .section .comments{
	list-style: none;
}
.box .section .comments .headline{
	font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-top: -3px;
    display: inline;
}
.box .section .comments .time_ago{
	color: #8e8e8e;
    font-size: 80%;
    margin-bottom: 0.3rem;
}
.box .section .comments p {
    margin-top: 0;
}
.box .section .report_button{
	float: right;
	border:none;
	outline:none;
	cursor: pointer; 
}
.box .section .comments .text{
	margin-bottom: 0.1rem;
    word-break: normal;
}
.box .section .comments li{
	width: 100%;
	clear: both;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
    padding: 1.5rem 0 0.5rem;
    font-weight: 300;
}
.box .section .comments .img_left{
	width:62px;
	float: left;
}
.box .section .comments .img_left img{
	width: 45px;
	height: 45px;
	overflow: hidden;
    position: relative;
    border-radius: 3px;
    background-color: #f2f2f2;
    text-align: center;
}
.box .section .comments .des_rig{
	margin-left: 62px;
}
.box .section .comments .language button{
	color: #8e8e8e;
    font-size:80%;
    font-weight: 300;
    border:none;
    cursor: pointer;
    padding-bottom: 2px;
}
.box .section .comments .language .show_more{
	border-left: 1px solid #d8d8d8;
    padding-left: 1rem;
    margin: 0.5rem 0 1rem;
    font-size:0.9rem;
    display: none;
}
.box .section .comments .dropdown_button {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 1px #CDCDCD; 
    margin: 15px -8px 0 0;
    float: right;
    display: none;
    cursor: pointer;
}
.box .section .comments .dropdown_button:hover{
	background-color: #f2f2f2;
}
.box .section .comments .response{
	padding-bottom: 10px;
}
.box .section .comments .response .res_all .res_num{
	color: #8e8e8e;
    font-size: 70%;
    font-weight: 300;
    border:none;
    vertical-align: middle;
    cursor: pointer;
}
.box .section .comments .response .res_all .reply{
	color: #8e8e8e;
    font-size: 70%;
    font-weight: 300;
    border:none;
    vertical-align: middle;
    cursor: pointer;
}
.box .section .comments .response button:nth-child(1){
	background-image: url(../images/icon_heart.svg);
	background-size: 14.5px 13px;
	background-repeat: no-repeat;
	width: 20px;
	padding-left: 20px;
	height: 13px;
	margin-right: 10px;
	vertical-align: middle;
}
.box .section .comments .response button:nth-child(2){
	background-image: url(../images/icon_comment.svg);
	width: 60px;
	height: 13px;
	background-size: 17.5px 13px;
	background-repeat: no-repeat;
	padding-left: 15px;
	height: 13px;	
	vertical-align: middle;
}
.box .section .comments .response .comment-input{
	padding-top: 20px;
	display: none;
}
@media screen and (max-width: 750px){
	html {
   		font-size: 100%;
   		box-sizing: border-box;
	}
	.box .box-nav .f_right{
		display: none;
	}
	.box .box-nav .fr_share{
		display: block;
		float: right;
	}
	.box .box-nav .fr_share img{
		height: 20px;
	}
	.box .aside{
		display: none;
	}
	.box .section{
		width: 100%;
	}
	.modal-content {
    	padding: 0 3rem;
	}
	.modal-close-button {
   		margin-top: 7px;
	}
	.modal-contents {
   		padding: 0 3rem;
	}
	.modal-close-buttons {
  		margin-top: 7px;
	}
}