.container{
	width:100%;
	max-width:860px;
	margin:40px auto;
	color:black;
}
.container h2{
	margin:15px 0px;
	opacity:.8;
}
.container .storyPic{
   width:100%;
   display:flex;
   flex-wrap:wrap;
   justify-content:space-between;
}
.container .storyPic>div{
    width:23%;
	margin-bottom:15px;
	position:relative;
}
.storyPic>div .Pic{
	display:inline-block;
	width:100%;
	border-radius:15px;
	background-color:rgba(0,0,0,.1);
}
.storyPic>div .Pic img{
	width:100%;
	border-radius:15px;
	position:relative;
	z-index:-1;
	display:block;
}
.position-border{
  position:relative;
}
.dianzan{
	width:95%;
	position:absolute;
	z-index:999;
	bottom:20px;
	left:5px;
	cursor:pointer;
}
.dianzan .like-heart{
	display:inline-block;
	width:30px;
	height:30px;
	vertical-align:middle;
	background:url("../images/like_white.svg") no-repeat;
	background-size:30px 30px;
	cursor:pointer;
}
.dianzan .dianzanNum{
	display:inline-block;
	width:40px;
	height:30px;
	margin:left:5px;
	color:white;
	cursor:pointer;
}
.dianzan .cookTime{
	float:right;
	color:white;
}


.container .storyPic div p a{
    color:black;
	opacity:.8;
}
.container .storyPic .Pic:hover{
   box-shadow:0px 0px 5px 5px #d8d8d8;
} 

.btn{
	width:90%;
	max-width:850px;
	margin:0px auto;
}
.more{
	width:100px;
	height:30px;
	background-color:#0d746d;
	border-radius:5px;
	color:white;
	font-size:18px;
	float:right;
}
@keyframes colorChange{
	from{
		opacity:.9;
	}
	to{
		opacity:.7;
	}
}
.more:hover{
	animation:colorChange 1s;
	animation-fill-mode:forwards;
}
.container .storyPic .play{
	width:30px;
	height:30px;
	position:absolute;
	top:5%;
	right:10%;
}


















